* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    line-height: 1.5
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

body {
    color: #262626;
    background-color: #fff;
    width:65%;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:link {
        color: #b30000;
        text-decoration: underline
}

a:active {
        color: #ff6666;
        text-decoration: underline
}

a:hover {
        color: #ff0000;
        text-decoration: underline
}

a:visited {
        color: #660000;
        text-decoration: underline
}

a:visited:hover {
        color: #cc0000;
        text-decoration: underline
}

@media (min-width: 38em) {
    html {
        font-size: 20px
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin-bottom: .5rem;
    font-weight: 300;
    color: #404040;
    letter-spacing: -.025rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 1.4rem
}

h1.text-title {
    font-size: 1.4rem
}

h2 {
    margin-top: 1rem;
    font-size: 1.4rem
}

h3, h4, h5 {
    font-size: 1rem
}

h3 {
    margin-top: 1.5rem
}

h4, h5, h6 {
    margin-top: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul, ol {
    margin-top: 0;
    margin-bottom: 1rem
}

hr {
    margin-top: 60px;
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff
}

mark {
    color: white;
    background-color: #841212
}

blockquote {
    padding: 0rem 1.5rem 0rem 2rem;
    margin: 0 0 20px 0;
    color: #454545;
    border-left: none;
    font-style: italic
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem
    }
}

li.attribution {
    text-align: right;
    list-style: none;
    padding: 0rem 1.5rem 0rem 2rem;
    margin: 0 0 20px 0;
    color: #454545
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse
}

td, th {
    padding: .25rem .5rem;
    border: 1px solid #fff
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #fff
}

@media (max-width: 48em) {
    .masthead-title {
        text-align: center
    }

    .masthead-title small {
        display: none
    }

    h3.masthead-title {
        margin-left: 15%;
        margin-right: 15%
    }
}

@media (max-width: 320px) {
    h3.masthead-title {
        margin-top: 2em;
        margin-left: 0%;
        margin-right: 0%
    }
}

p.centered {
    text-align: center
}

p.larger {
    font-size: 1.6rem
}

p.large {
    font-size: 1.4rem
}

p.small {
    font-size: 0.8rem
}

div.toc {
    margin-bottom: 4rem
}

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #c65353;
    background-color: #f5f5f5;
    border-radius: 3px
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px
}

.highlight pre {
    margin-bottom: 0
}
#termin {
    border: 1px;
    border-style: solid;
    text-align: center;
    padding: 1em;
    margin: 4% 20% 4% 20%
}

footer {
    font-size: 16px;
}

@font-face {
     font-family: 'Arian Grqi';
     src: url(/fonts/ArianGrqi.woff) format('woff'),
     font-weight: normal;
     font-style: normal;
}

body, a, h1, h2, h3, h4, h5, h6, .h1, .h2 {font-family:Arian Grqi;}
